<!-- Html de la parte de Info de la empresa-->
{% extends "administracion/index.html" %}

{% block titulo %}
<header class="display-4 fw-bolder text-white mb-2 text-center w-100">Acerca de Nosotros </header>
<p class="display-7  text-white mb-2 text-center w-100">Harinas Del Norte</p>
{% endblock titulo %}

{% block contenido %}
    <main>
        <section id="about">
            <div class="container">
                <h2>Info</h2>
                <p>Harinas Del Norte es una empresa dedicada a la producción y distribución de harinas de alta calidad desde hace más de 50 años. Nos destacamos por nuestro compromiso con la excelencia y la satisfacción del cliente.</p>
                <p>Nuestro equipo está conformado por profesionales altamente capacitados en la industria de la harina, quienes trabajan día a día para asegurar que nuestros productos cumplan con los más altos estándares de calidad y seguridad alimentaria.</p>
                <p>Estamos ubicados en Av. Bartolomé Mitre 1160, Florida, Vte. López, donde operamos nuestras instalaciones de producción y almacén para servir a nuestros clientes en toda la región.</p>
            </div>
        </section>

        <section id="services">
            <div class="container">
                <h2>Nuestros Servicios</h2>
                <p>Entregas en variadas zonas de capital y provincia de los mejores productos</p>
            </div>
        </section>
    <footer>
        <div class="container">
            <p>&copy; 2024 Harinas Del Norte. Todos los derechos reservados.</p>
        </div>
    </footer>
{% endblock contenido %}
